<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Carrboro Family Clinic</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/business-casual.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  </script>

    <div class="container">
<!-- 1st box -->
          <div class="box">
            <div class="row">
                <div class="col-lg-12 text-center">

                  <h2 class="text-info">Welcome to Carrboro Family Clinic</h2>
                  <h4 class="cursive">Your Community Urgent Care Center</h4>
                  <hr>
                  <h5>
                      <strong>Walk-Ins Welcome!</strong>
                  </h5>
                <small>104 W. NC Hwy. 54, Ste. JJ | Carrboro, NC 27510 </small>
                <br>
                <small>Conveniently located in Carrboro Plaza Shopping Center, next to DMV</small>
                <br>
                  <strong>Open: Mon - Sat 8am-7pm (No appointment needed) </strong>
                  <hr>
                </div>
              </div>

              <div class="row">
<!-- space separator -->
                  <div class="col-md-1">
                    <br>
                  </div>
<!-- space separator -->

<!-- carousel -->
                  <div class="col-lg-6 text-center">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" >
                            <div class="item active">
                                <img   <%= image_tag("slide-1.jpg") %>

                            </div>
                            <div class="item" >
                                <img <%= image_tag("slide-2.jpg") %>

                            </div>
                            <div class="item" >
                                <img <%= image_tag("slide-3.jpg") %>
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev" >
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next" >
                            <span class="icon-next"></span>
                        </a>
                    </div>
                  </div>
<!-- carousel -->

<!-- right box  -->
                      <div class="col-md-5">
                        <strong>Services include:</strong>
                      <ul>
                        <li>Allergies</li>
                        <li>Acute Illness &  Injuries (Minor Burn Treatment)</li>
                        <li>Anxiety & Stress Management</li>
                        <li>Annual Physicals, Employment Physicals, Women's Screening Services (Pap Smear)</li>
                        <li>Birth Control & Pregnancy Testing</li>
                        <li>Chronic Disease Management</li>
                        <li>Common Cold, Sinus Injections, Strep Throat, Bronchitis, Pneumonia, etc.</li>
                        <li>Dermatological Issues (Acne, Bug Bites etc.)</li>
                        <li>Laceration Repair</li>
                        <li>Laboratory Tests</li>
                        <li>Mental Disorders/Challenges</li>
                        <li>Sports Medicine,</li>
                        <li>STD Screening & Treatment</li>
                        <li>Vaccinations (Influenza, Td/Tdap, Hepatitus B)</li>
                        <li>Weight Management</li>
                        <li>Workers Comp - Injury Management</li>
                      </ul>
                    </div>

                </div>
<!-- right box  -->
            </div>

<!-- box -->
        </div>
<!-- container -->

    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 3000 //changes the speed
    })
    </script>

</body>

</html>
