<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Carrboro Family Clinic</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/business-casual.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
  <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>

    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h4 class="text-info">Stories from our patients
                    </h4>
                    <hr>
                    <h5 class="cursive">You deserve the right and the best treatment</h5>
                </div>
                <div class="col-lg-1">
                </div>

                <div class="col-lg-10">

                  <div class="col-lg-12 text-center">
                        <h5><small>What's more than a headache</small></h5>
                            <p> A thin middle-aged black man with a younger wife and son came to my clinic five years ago. The wife stated "My husband complained about a headache. We just moved here from New York. No health insurance, we'll pay for the visit." I looked at the patient who is thin, quiet, and sleepy in the waiting area. I asked if the husband had hypertension, heart disease, high cholesterol or any medical diseases. She responded "No, my husband is healthy, never had to visit the doctor. No injuries, either." I checked the patient's blood pressure, it was 200/100! I told them to go to the ER immediately to avoid any greater danger. A few months later, the patient's wife came to the clinic again, and requested refill of prescription for her husband. "Thank you, you saved his life! The doctors found three bleeding spots in his brain. It's very dangerous. He stayed in UNC hospital for weeks. Now the doctors prescribe three meds for his hypertension." For his age and severe hypertension he needs a team of doctors and specialists, and may need tests like CT scans or X-rays, which my clinic does not have. The patient's wife thanked me again and left. </p>
                            <p>My treatments need to be effective and efficient. For me, care for a patient is not only a job, but more of a need. I focus on a holistic approach. Caring, loving, encouraging and you always need to invest passion and time. Ask: what else can I do to improve the response and patient health?  </p>
                    </div>

                    <div class="col-lg-12 text-center">
                        <h5><small>Allergy, Asthma</small></h5>
                    
                            <p>A young white man who loves his job. He mows the lawns all the time but suffers from asthma. He has been using Albuterol inhaler for years and have seen some doctors before and needs a new one. He states he had to use the inhaler daily and sometimes at night too. I examined the patient. (He just walked in and only need to pay $15-20 copay due to his NC state employee insurance plan). I saw him a few times in 2014-2015. I encouraged the patient to take over the counter allergy medicines like Zyrtec daily which helped his symptoms. Then one time the patient got tense (anxious, stressful due to pressure from a family history), after screening for anxiety, he tested positive. He agreed to try meds to help with good sleep and reduce anxiety which worked. During the pollen season in NC, I added prescription allergy med as a last resort (Singulair, once tab by mouth daily). For a while I didn't see the patient. Then one day he showed up, "How are you? I haven't seen you in a while!" "Great, because you took care of me. I am healthy now. I didn't need Albuterol hardly at all. I lost weight! I bought a new apartment. You're right, I didn't need a house with a big backyard and grass!" 
                                I didn't see this young man for a few years and hope he learned how to take care of himself, his allergy and asthma.</p>
                      </div>

                      <div class="col-lg-12 text-center">
                        <h5><small>It is not the antibiotic</small></h5>
                            <p>A middle-aged white male who is a CEO, came to my clinic. "Every time I travel abroad, I get a cold then walking pneumonia. I worked for pharmaceutical companies before and many antibiotics don't worke for me like azithromycin." He seemed determined and knew what he needed. I listened to the whole story and discussed the situation and gave the suggestion of an antibiotic he didn't know about or tried before. He wasn't certain about this new antibiotic and whether it will work for him. He said "I don't know any doctors in other countries or if I trust their system or medicines." He was slightly anxious and tense. I told him to try it and see what happens. He also needed sleeping pills due to long travelling and the jet lag paired with high stress level from being a CEO as business can be uncertain.</p>
                            <br>
                            <p>    A few months later he came back. He was always on the phone and couldn't sit still for a minute. He wasn't always listening or paying attention to what I said. A few years went by he changed and opened up to me about private issues that bothered him as he grew trust on me. He now asks me what new things to try and I recommended Dr. Hyman's book "Eat Smart, Get Thin", which has good information. He started taking multivitamins, fish oil, probiotics, PGX fiber capsules, and vitamin D daily. Plus vitamin C, B12, magnesium occasionally. "I trained myself to eat raw avocado daily." My experiences are passed on to my patients because they want to practice my lifestyle as they come to trust and know me more.</p>
                        </div>

                      <div class="col-lg-12 text-center">
                        <h5><small>Young man's trouble</small></h5>
                      
                            <p>A smart young man who just graduated and is preparing for a big exam soon. He asked "Can you prescribe Viagra?",  I said "Yes, do you need it?", "Yes", he said with a red face, probably because he is embarrassed. "I usually write Viagra for older patients in their fifties. You are only 27." I said, and asked many questions about his life and activities, then gave him some suggestions. First, take a relaxing walk daily for 45 minutes or more (in addition to the gym because he was in good shape and didn't have any weight issues). Second, cut down or quit drinking at parties (although he didn't specify how much he drink) because alcohol can worsen erectile dysfunction. Third, try OTC benadryl after sex or before sleep to have a better rest. Fourth, don't worry about the big important exam (maybe the BAR?) and just try your best to prepare and you can always retake it. Fifth, spend more time with your wife like taking walks together, cook together, chat with her, foreplay etc. Sixth, install positive image and self-confidence. Repeat to yourself that you young, strong, and healthy. And seventh, take some supplements.</p>
                            <p>The patient came back later to fill his anxiety medication. "I really like walking," he told me. I asked if he needed more Viagra as he was getting ready to go. "No, thanks. I am fine." he said with a smile. It was the anxiety which stalled him, once he learned how to manage the stress, he does not need the Viagra prescription.  </p>
                        </div>

                      <div class="col-lg-12 text-center">
                        <h5><small>Mother of three daughters</small></h5>

              
                            <p>A mom with three young daughters (Two in college and one in high school). She is very kind and is extra patient to her girls due to physical and mental challenges/diseases. She is a teacher with state employee insurance, and even $40 office copay was a bit too much for her. Last winter, the whole family suffered a cold then pneumonia for weeks. I was wondering why they waited so long to see me. "We tried everything over the counter, but it didn't work much," The mom said. The whole family showed signs of anxiety and the three girls showed signs of malnutrition(very pale). She could only afford the $40 copay that time for one of her daughters, who appeared anxious. "I need a strong antibiotic. I live in a place that is far from a pharmacy and everything." She was upset, and sad. After they left the room, I carefully examed their charts and asked one of the girls about their father. She said their dad died years ago in a car accident when she was a baby.
                                Since then, I told the mom not to worry about the copay. When you have the money, you can pay, I told her. Otherwise I can see you anytime that you need medical care. They are grateful and within a few visits, the youngest girl's chronic skin problem got much better. The mom's allergy was in the best relief, with Singulair for the worst season/signs/symptoms.
                                  </p>
                          </div>

                        <div class="col-lg-12 text-center">
                          <h5><small>Insomnia, sleep problems</small></h5>
                          
                            <p>A handsome young man with a beautiful wife and two young kids. Years ago I did a suture for their son who had an accident a few times. The whole family loves outdoor activities, sometimes the whole family showed up, other times only the dad came in with the kids. I found out as time passed by the dad appeared more tense and less patient with his teen kids who had to be quiet in the waiting room without speaking up. I sensed that the dad is going through some mental challenges. One day he showed up, " I need help. I tried everything, herbs, OTC meds for sleep that didn't do anything" He was anxious. So I screened him for anxiety and insomnia. Many questions were answered and reassurance were given. The patient is very intelligent but worried, but he agreed to try anyway. He said anxiety and depression run in his family (his mom, brother ...). Weeks later, he showed up for a follow up visit with the meds. "I sleep like a baby, my sleep has improved from the first visit with the first pill. Then about a week later I feel more relaxed. I take one pill before going to work and one before sleep. I feel much better."
                                The patient came back for meds a few times a year. Last year he came in with a difficulty to sit still, he scored high on both anxiety and depression scale. A new med was then added to his treatment plan, he later came back with good results. "Thank you Xiao. My husband is nicer to our kids," the wife said. The daughter told me about her dad "Now he is more are relaxed, he was so mean to us before". The wife admitted that he wouldn't make through if it wasn't the right treatment steps. The patient's wife hugged me.</p>
                            <p>I am not a psychologist but I learn daily when I deal with my patients and the need is huge. I am in the unique position to provide holistic care. My job is not only to help the patient but also benefit his family and relationships he has with his wife and kids who can grow up in a more resonant and less tense environment. </p>
                        </div>

                      <div class="col-lg-12 text-center">
                        <h5><small>Stay away from ER</small></h5>
      
                            <p>A Chinese-American woman whose husband passed away recently and her dad suffered from several issues like anxiety, pain, and panic attacks. The patient went to the ER a few times due to dizziness. The doctor just prescribed her IV fluid. Hours later she was discharged home. "They were not very helpful." She said, she was anxious and thin. I listened to her for an hour then examed the patient. She had fluid built up in the middle ear canals that got infected, which contributed to her dizziness. The patient was anxious (the screening revealed high anxiety level), had mild allergy, high stress, and couldn't sleep well due to worry. I explained to the patient and suggested OTC medications because she disliked taking any medications and had a lot of doubts. She admitted "I feel better already because you listened to me and understand. Other doctors are too busy to listen and can not figure out the causes until months later or never". I met the patient again, "No ER visit, No IV, I am all better!" she said. The Medical doctors need to check patient's ears, but her previous MDs failed to reason from this basic but important step! The ER charges patient/insurance a humongous amount of money and there is also the culture and language barrier for a Chinese elder patient. IV is not a solution in some cases. Mds have to dig deeper to get to the root of the problem.</p>
                        </div>

                      <div class="col-lg-12 text-center">
                        <h5><small>Holistic approach revealed the truth</small></h5>
                             <p>A smart Chinese-American who was sent to my clinic by two of his Chinese co-workers who worried a lot about his mental and physical status.  "I gave the house to my ex-wife, lost custody of my two young kids. My ex-wife sued me many times, I had to come back to the U.S to show up in court.I had to pay two different lawyers!" The patient talked fast and loud in Chinese "I worked for the same company for 15 years and created great project for them that made lots of money! I had heart surgery a few times in Duke, My spine and back hurt so bad. I refused the surgery in Duke and went to China to have minor surgery done to my back. Now I can sit a bit longer and the pain is less." The patient showed anxiety, depression, mood disease, paranoid personalities, anger, high stress, he has high blood pressure and he smokes. He had no insurance and got layed off by his company. The patient finally calmed down and listend to my advice. Blood work was done. The patient told me "I trusted the doctors, I didn't know better, I only knew how to do my IT job. You listened to me and your advice made sense!" The second visit, the patient returned to thank me. He requested his medical records from the company's health clinic, but his primary care for 15 years couldn't provide them! They only want to send the lab results and prescription record, so I requested the whole medical record. I went through his medical records thoroughly in great details, and found out that the patient's BP is actually not very high, a bit above the normal. His cholesterol was not bad either. He was over-diagnosed by his previous care provider, his BP went up very slowly but the provider didn't treat his mental illness. I am confident the patient could have and should have gotten healthier and perhaps avoid the life obstacles (divorce, losing his job and custody, spine damage due to spending hours in front of a computer with bad posture). No holistic approach, they totally ignored the patient's mental diseases which caused many physical problems.  </p>
                        </div>

                       <div class="col-lg-12 text-center">
                        <h5><small>Childhood ear pain</small></h5>
                            
                                <p>A young white mom in her thirties came to see me twice this year. "Can you see my daughter? She has ear pain in school. Her teacher called me to pick her up!" The three year old girl is crying with her head against her mom's neck. So I checked her in quickly. "Can you take my son in?" I went to the sitting room and found the son is about a year old who is sitting in the kid's corner playing quietly. "I didn't realize he can do that (be quiet and play alone when he can see his mom!)" I noted. So the whole family were in the room. I gave popsicle to the kids and the girl let me examine her ear. I showed her my otoscopy, the light and touched her arm gently so she knows what I'm going to do without pain. She had a mild ear infection but the pressure was causing a lot of pain. I gave he prescription to the mom. "Can I stay here to wait for my husband to come pick us up?" She asked. "Of course!" I said. Her husband works for UNC. The mom talked softly and thanked me for the help. A few months went by, the patient came back crying when her mom was holding her. She wants to go to the bathroom but it hurts so she holds her urine and refuses to go. The patient cried louder. I told the mom that maybe she had to go to the ER, where the doctor can exam with an abdominal ultrasound to check her bladder. It may be too full and they may need to use a catheter to let the urine out. But I told her that they can try to get her to urinate. Again, popsicles helped. The patient was sucking on the popsicle and after a struggle she finally let it out on my bathroom floor. I told them I can clean up. Don't worry. </p>
                          </div>

                      <div class="col-lg-12 text-center">
                        <h5><small>ADHD requires extra care from a good doctor</small></h5>
                        <p>A beautiful young girl with a smile. "I have had ADHD for years. Now I have Obamacare's insurance." Even though I have had bad experience with claims from both BCBS NC and a dozen patients with Obamacare which did not pay a penny, the girl agreed to pay out of pocket. She has a free spirit and a kind heart she likes to help her friends. She came back to refill her prescription a few times. Sometimes, her stress level was very high and she can be stressed out. She is willing to listen. "You're just like my mom. You always want me to do good and be mature and save money for the rainy days and be healthy." She understood but it's hard for her due to her mental health challenges. "My mom wanted me to hold a well paying stable job. I had to grow up and be mature." she told me with a smile. "I'm fine now l can only p pay you for the check that didn't cash." She had to make an appointment to go to a psychological clinic before, and had to pay $200, while at my clinic, I only charge a reasonable amount of fee for each visit. She had a cold and pneumonia a few times in the last three years. I took care of that during patient's follow up visits without additional charges. </p>
                      </div>


                     <div class="col-lg-12 text-center">
                        <h5><small>Life is tough and monitor through</small></h5>
                        <p>The patient has a very stressful job and life. She had to show up at the court a few times due to a lawsuit from her company that is invovled with another company. "Millions of dollars spent. I am so afraid of losing my job! Where can I find a job next at age 50?" A few months ago the patient brought along her ER visit notes. "My blood pressure was so high. My heart was racing so fast. I was taken to the ER from work by an ambulance. The doctors ran a lot of tests and I had normal results." She worried a lot about hypertension and a heart attack. I checked her monthly blood pressure and most of the readings were normal. She ate healthy and was walking more regularly. She experienced panic attacks because of her stress triggered high blood pressure, she agreed to my reasoning and began to relax. Having the same provider is very important to monitor a patient's health. I did not put the patient on any hypertension meds, but adviced her to monitor her blood pressure at home. </p>
                    </div>

                     <div class="col-lg-12 text-center">
                        <h5><small>Panic attack</small></h5>

                      <p>A fit white single mother with two young kids around ten years old. She has severe mental challenges who sees me regularly for a few year and has good family support. The patient struggled with mental disease, divorce, and taking care of her kids. "They are good kids who do well in school. They are active and fight sometimes." She is fit but does not know how to cook at home. Her anxiety level was high as was her blood pressure.
                      A few months ago, the patient brought her ER visit notes and showed me. "Doctors did all the tests and were normal." She had high anxiety. "You experienced panic attacks. Your blood pressure was abnormal (higher than normal but not high enough to cause a heart attack) and you are only in your thirties. You'are very active but you have to learn how to relax more and worry less. Also, learn to cook at home." She agreed to try one low dose of blood pressure meds ("water pill"). She was serious this time. 
                      A few months later, her BPs are in the normal range! She is happy about that. She enjoys the outdoor activities with her kids and looked more relaxed and less tense. She smiled and laughed more. I may advise the patient to hold the pill and see how she respond later.
                      It is important that the same provider (me) sees the patient regularly and provide support, information, teaching, monitor the patient and record important data for each visit. Medication is a tool, not a solution. If the patient saw a different provider, who may missed the big picture. The valuable, high quality medical care can be compromised because of that.</p>
                      <hr>
                  </div>


                <div class="col-lg-1">
                </div>

            </div>
        </div>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
